@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <b>@Username</b>

            @if (User != null)
            {
                <NavLink class="nav-link" href="logout" Match="NavLinkMatch.All">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                </NavLink>
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>